<h2>Hello Agular forms</h2>

<form action="#" name="myForm" ng:controller="FormController">
  <div ng:show="invalid()">This form contains errors!</div>

  <div>
    <select ng:options="c for c in categories" ng:model="myFormData.category" required>
      <option value="">-- select category --</option>
    </select>
  </div>

  <div>
    <input type="@OddNumber" name="oddNumber" ng:model="myFormData.oddNumber" required>
  </div>

  <div>
    <input type="password" name="password" ng:model="myFormData.password" required ensure-length="passwordLength" />
    <span ng:show="myForm.password.$error.TOO_SHORT">Password is too short (min: {{passwordLength.min}} characters)</span>
    <span ng:show="myForm.password.$error.TOO_LONG">Password is too long (max: {{passwordLength.max}} characters)</span>
  </div>

  <button ng:click="save()" ng:disabled="{{!dirty() || !valid()}}">Save</button>
  <button ng:click="cancel()" ng:disabled="{{!dirty()}}">Cancel</button>

  <pre>
    myForm = {{myForm}}
    dirty() = {{dirty()}}
    valid() = {{valid()}}
  </pre>
</form>

