<script type="text/javascript" src="/assets/app/sandbox_tabs.js"></script>

<div ng:controller="TabsController">
  <div ui:tab="tabPanel"></div>

  <ul>
    <li>
      <input type="text" name="_newTab.title" />
    </li>
    <li>
      <textarea name="_newTab.content"></textarea>
    </li>
  </ul>
  <button ng:click="tabPanel.addTab(_newTab); _newTab = {}">Add tab</button>

  <pre>
    tabs = {{tabs}}
  </pre>
</div>

