<h1><%= link_to "Listing todos", todos_path %></h1>

<div ng:controller="TodosListController">
  <div class="pagination">
    Per page:
    <select name="paginationParams.perPage" ng:options="perPage for perPage in pages" ng:format="number">
    </select>

    <span ng:hide="hasPrevPage()">Prev page</span>
    <a ng:show="hasPrevPage()" ng:click="prevPage()">Prev page</a>

    Page {{paginationParams.currentPage}} of {{paginationParams.numPages}}

    <span ng:hide="hasNextPage()">Next page</span>
    <a ng:show="hasNextPage()" ng:click="nextPage()">Next page</a>

    <a ng:click="load()">Reload grid</a>
    <img src="/assets/spinner.gif" ng:show="loading" />
  </div>

  <table class="grid">
    <thead>
      <tr>
        <th grid:sortable-column="name">Name</th>
        <th grid:sortable-column="estimate">Estimate</th>
        <th grid:sortable-column="done">Done</th>
        <th grid:sortable-column="created_at">Created at</th>
        <th grid:sortable-column="updated_at">Updated at</th>
      </tr>
    </thead>

    <tbody>
      <tr ng:repeat="todo in todos" ng:class-even="'even'" ng:class-odd="'odd'">
        <td grid:editable-cell="todo.name">
          <input type="text" name="todo.name" />
        </td>

        <td grid:editable-cell="todo.estimate | number:0">
          <%#<select name="todo.estimate" ng:options="estimate for estimate in estimates" />%>
          <input type="text" name="todo.estimate" />
        </td>

        <td grid:editable-cell="todo.done">
          <input id="todo-done-{{todo.id}}" type="checkbox" name="todo.done" />
          <label for="todo-done-{{todo.id}}">is done</label>
        </td>

        <td grid:cell="todo.created_at | date:'yyyy-MM-dd HH:mm:ss Z'" />
        <td grid:cell="todo.updated_at | date:'yyyy-MM-dd HH:mm:ss Z'" />
      </tr>
    </tbody>
  </table>

  <div>
    <a ng:click="save()">Save</a>
  </div>

  <pre>
    todos = {{todos|json}}
  </pre>
  <pre>
    paginationParams = {{paginationParams|json}}
  </pre>
</div>

