<h1><%= link_to "Listing todos", todos_path %></h1>

<div ng:controller="TodosListController">
  <div grid:container="grid">
    <div grid:pagination></div>

    <table class="grid">
      <thead>
        <tr>
          <th grid:sortable-column="name">Name</th>
          <th grid:sortable-column="estimate">Estimate</th>
          <th grid:sortable-column="done">Done</th>
          <th grid:sortable-column="created_at">Created at</th>
          <th grid:sortable-column="updated_at">Updated at</th>
        </tr>
      </thead>

      <tbody>
        <tr ng:repeat="todo in todos.records" ng:class-even="'even'" ng:class-odd="'odd'">
          <td grid:editable-cell="todo.name">
            <input type="text" name="todo.name" ng:required />
          </td>

          <td grid:editable-cell="todo.estimate">
            <select name="todo.estimate" ng:options="estimate for estimate in estimates" />
          </td>

          <td grid:editable-cell="todo.done">
            <input id="todo-done-{{$index}}" type="checkbox" name="todo.done" />
            <label for="todo-done-{{$index}}">is done</label>
          </td>

          <td grid:cell="todo.created_at | date:'yyyy-MM-dd HH:mm:ss Z'" />
          <td grid:cell="todo.updated_at | date:'yyyy-MM-dd HH:mm:ss Z'" />
        </tr>
      </tbody>
    </table>

    <div>
      <button ng:click="$grid.save()" ng:disabled="{{!$grid.canBeSaved()}}">Save</button>
      <button ng:click="$grid.cancel()" ng:disabled="{{!$grid.dirty()}}">Cancel</button>
    </div>

    <pre>
      $grid.canBeSaved() = {{$grid.canBeSaved()}}
      $grid.dirty = {{$grid.dirty()}}
    </pre>
  </div>

  <hr />

  <div grid:container="secondGrid">
    <div grid:pagination></div>

    <table class="grid">
      <thead>
        <tr>
          <th grid:sortable-column="name">Name</th>
          <th grid:sortable-column="estimate">Estimate</th>
          <th grid:sortable-column="done">Done</th>
          <th grid:sortable-column="created_at">Created at</th>
          <th grid:sortable-column="updated_at">Updated at</th>
        </tr>
      </thead>

      <tbody>
        <tr ng:repeat="todo in secondTodos.records" ng:class-even="'even'" ng:class-odd="'odd'">
          <td grid:editable-cell="todo.name">
            <input type="text" name="todo.name" ng:required />
          </td>

          <td grid:editable-cell="todo.estimate">
            <select name="todo.estimate" ng:options="estimate for estimate in estimates" />
          </td>

          <td grid:editable-cell="todo.done">
            <input id="todo-done-{{$index}}" type="checkbox" name="todo.done" />
            <label for="todo-done-{{$index}}">is done</label>
          </td>

          <td grid:cell="todo.created_at | date:'yyyy-MM-dd HH:mm:ss Z'" />
          <td grid:cell="todo.updated_at | date:'yyyy-MM-dd HH:mm:ss Z'" />
        </tr>
      </tbody>
    </table>

    <div>
      <button ng:click="$grid.save()" ng:disabled="{{!$grid.canBeSaved()}}">Save</button>
      <button ng:click="$grid.cancel()" ng:disabled="{{!$grid.dirty()}}">Cancel</button>
    </div>

    <pre>
      $grid.canBeSaved() = {{$grid.canBeSaved()}}
      $grid.dirty = {{$grid.dirty()}}
    </pre>
  </div>

</div>

