<h1><%= link_to "Listing todos", todos_path %></h1>

<div ng:controller="TodosListController">
  <div class="pagination">
    Per page:
    <select name="paginationParams.perPage" ng:options="perPage for perPage in [5, 10, 20, 50]">
    </select>

    <a ng:click="prevPage()">Prev page</a>
    Page {{paginationParams.currentPage}} of {{paginationParams.numPages}}
    <a ng:click="nextPage()">Next page</a>

    <a ng:click="load()">Reload grid</a>
  </div>

  <table class="grid">
    <thead>
      <tr>
        <th my:sortable-column="name">Name</th>
        <th my:sortable-column="estimate">Estimate</th>
        <th my:sortable-column="done">Done</th>
        <th my:sortable-column="created_at">Created at</th>
      </tr>
    </thead>

    <tbody>
      <tr ng:repeat="todo in todos" ng:class-even="'even'" ng:class-odd="'odd'">
        <td>{{todo.name}}</td>
        <td>{{todo.estimate}}</td>
        <td>{{todo.done}}</td>
        <td>{{todo.created_at}}</td>
      </tr>
    </tbody>
  </table>

  <pre>
    orderBy = {{paginationParams.orderBy}}
    orderDirection = {{paginationParams.orderDirection}}
    perPage = {{paginationParams.perPage}}
    currentPage = {{paginationParams.currentPage}}
    numPages = {{paginationParams.numPages}}
  </pre>
</div>

