<h1><%= link_to "Listing todos", todos_path %></h1>

<div ng:controller="TodosListController">
  <div class="pagination">
    <span>
      Per page:
      <select name="grid.perPage" ng:options="perPage for perPage in pages" ng:format="number">
      </select>
    </span>

    <span ng:hide="grid.hasPrevPage()">Prev page</span>
    <a ng:show="grid.hasPrevPage()" ng:click="grid.prevPage()">Prev page</a>

    <span>Page {{grid.currentPage}} of {{grid.numPages}}</span>

    <span ng:hide="grid.hasNextPage()">Next page</span>
    <a ng:show="grid.hasNextPage()" ng:click="grid.nextPage()">Next page</a>

    <span>Total count: {{grid.totalCount}}</span>

    <a ng:click="grid.load()">Reload grid</a>
    <img src="/assets/spinner.gif" ng:show="grid.loading" />
  </div>

  <table class="grid">
    <thead>
      <tr>
        <th grid:sortable-column="name">Name</th>
        <th grid:sortable-column="estimate">Estimate</th>
        <th grid:sortable-column="done">Done</th>
        <th grid:sortable-column="created_at">Created at</th>
        <th grid:sortable-column="updated_at">Updated at</th>
      </tr>
    </thead>

    <tbody>
      <tr ng:repeat="todo in todos.records" ng:class-even="'even'" ng:class-odd="'odd'">
        <td grid:editable-cell="todo.name" grid:property="grid">
          <input type="text" name="todo.name" ng:required />
        </td>

        <td grid:editable-cell="todo.estimate" grid:property="grid">
          <select name="todo.estimate" ng:options="estimate for estimate in estimates" />
        </td>

        <td grid:editable-cell="todo.done" grid:property="grid">
          <input id="todo-done-{{$index}}" type="checkbox" name="todo.done" />
          <label for="todo-done-{{$index}}">is done</label>
        </td>

        <td grid:cell="todo.created_at | date:'yyyy-MM-dd HH:mm:ss Z'" />
        <td grid:cell="todo.updated_at | date:'yyyy-MM-dd HH:mm:ss Z'" />
      </tr>
    </tbody>
  </table>

  <div>
    <button ng:click="grid.save()">Save</button>
    <button ng:click="grid.cancel()">Cancel</button>
  </div>

  <pre>
    todos = {{todos|json}}
  </pre>
</div>

