/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.todo.done {text-decoration: line-through; color: gray;}
.tasks { margin: 10px; }
.stats { margin: 10px; }

th {
  width: 300px
}

th.sortable-column {
  cursor: pointer;
}

th.sortable-column.sort-asc {
  background-image: url(/assets/sort-up.gif);
  background-repeat: no-repeat;
}

th.sortable-column.sort-desc {
  background-image: url(/assets/sort-down.gif);
  background-repeat: no-repeat;
}

tr.even {
  background-color: lightBlue;
}
