<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org/">
  <head>
    <meta charset="utf-8">
    <title>Angular Rails seed</title>
    <%= stylesheet_link_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <ul class="menu">
      <li><a href="#/view1">view1</a></li>
      <li><a href="#/view2">view2</a></li>
    </ul>

    <ng:view></ng:view>

    <script src="/assets/angular/angular.js" ng:autobind></script>
    <%= javascript_include_tag "application" %>
  </body>
</html>
