<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org/">
  <head>
    <meta charset="utf-8">
    <title>Angular Rails seed</title>
    <%= stylesheet_link_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>

    <script src="/assets/angular/angular.js" ng:autobind></script>
    <%= javascript_include_tag "application" %>
  </body>
</html>
